/*


font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;


*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*========== PG 1 ==========*/

.page1 {
  width: 100%;
  height: 100vh;
  padding: 150px 0 100px 0;
  text-align: center;
  background-image: url(img/page1-bg.jpg);
  background-color: rgba(97, 95, 95, 0.90);
  background-blend-mode: hard-light;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(221, 221, 221);
  text-shadow: 0 0 45px rgba(0, 0, 0, .7);
}

h1 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 140px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.page1 p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  letter-spacing: .3px;
  line-height: 29px;
}


/*============= PG 2 ============*/

.page2 {
  background-color: rgb(62, 62, 62);
  height: 100vh;
}

.pg2-cont {
  padding: 17% 12% 0 12%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: rgb(162, 162, 162);
}

.col:first-child {
  margin-right: 65px;
}

.col {
  width: 35%;
}

.col h3 {
  margin-bottom: 10px;
  letter-spacing: .2px;
  font-family: 'Playfair Display', serif;
}

.col p {
  color: rgb(111, 111, 111);
  line-height: 19px;
  letter-spacing: .2px;
  font-family: 'Raleway', sans-serif;
}


/*======== PG 3 ============*/

.page3 {
  background-image: radial-gradient(rgb(56, 56, 56), rgb(41, 41, 41));
  height: 100vh;
  padding: 100px 15% 125px 15%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pics {
  width: 275px;
  height: 225px;
  margin: 4px;
  text-align: center;
  background-color: rgb(87, 87, 87);
  transition: .3s ease-in;
  overflow: hidden;
}

.pics:hover {
  transition: .3s ease-out;
  background-color: rgb(71, 71, 71);
}

.pics>img {
  height: 100%;
}

.pics p {
  font-family: sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.97);
}

.copy {
  position: relative;
  top: 225px;
  opacity: 0;
}





/*==========  ANIMS  ===============*/

/*.copy-anim {
  animation: animation 2500ms linear normal forwards;
}

.copy-anim-re {
  animation: animation 2500ms linear reverse backwards;
  opacity: 0;
}


@keyframes animation {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 220, 0, 1);
    opacity: 0;
  }
  3.6% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 177.485, 0, 1);
  }
  7.21% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 141.276, 0, 1);
  }
  10.81% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 115.343, 0, 1);
  }
  14.31% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 100.091, 0, 1);
  }
  18.12% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 103.165, 0, 1);
  }
  21.92% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 106.197, 0, 1);
  }
  32.43% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 102.409, 0, 1);
    opacity: 1;
  }
  42.94% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 100.016, 0, 1);
  }
  50.55% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 100.603, 0, 1);
  }
  71.47% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 100, 0, 1);
  }
  79.08% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 100.036, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 100, 0, 1);
  }
}*/
